<div class="game" hm-panLeft="game.boyMoveLeft($event)" hm-panRight="game.boyMoveRight($event)" hm-panend="game.boyStop()" ng-style="game.screen">

	<div class="fire">
		<img class="top" src="./img/fire.png" >
		<img class="bottom" src="./img/fire.png" >
		<img class="right" src="./img/fire.png" >
		<img class="left" src="./img/fire.png" >
	</div>

	<div class="building">

		<img src="./img/building.svg">

		<img id="cat" src="./img/cat_standing.svg" class="cat topLeft">
		<img src="./img/cat_standing.svg" class="cat topMiddle">
		<img src="./img/cat_standing.svg" class="cat topRight">
		<img src="./img/cat_standing.svg" class="cat bottomLeft">
		<img src="./img/cat_standing.svg" class="cat bottomMiddle">
		<img src="./img/cat_standing.svg" class="cat bottomRight">


	</div>

	<img id="boy" src="./img/boy_left.svg" ng-style="game.boyRunning">

	<div class="sidewalk">
	</div>

</div>